<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
  </head>
  <body>

    <table>
        {% if titles %}
        <tr>
            {% for column in titles %}
            <th>
                {{column}}
            </th>
            {% endfor %}
        </tr>
        {% endif %}

        {% if tables %}
            {% for row in tables %}
            <tr>
                {% for column in row %}
                <td>
                    {{column}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endif %}
    </table>
  </body>
</html>
