<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{report.name}}</title>
    <link rel="stylesheet" href="{% static 'css/report_table_styling.css' %}">
  </head>
  {% block content %}
  <body>
    <h3>{{report.name}}</h3>
    <table>

        {% for align in report.align %}
            <col class="{{align}}"/>
        {% endfor %}


        <tr>
            {% for column in report.titles %}
            <th>
                {{column}}
            </th>
            {% endfor %}
        </tr>


        {% if report.data %}
            {% for row in report.data %}
            <tr>
                {% for column in row %}
                <td class="{{column.1}}">
                    {{column.0}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endif %}
    </table>
  </body>
    {% endblock %}
</html>
