{% extends "admin/hide_inline.html" %}
{% load i18n %}
{% block content %}
<input type="hidden" id="Emp_URL" data-url="{% url 'admin:loademps'%}" />
<input type="hidden" id="Product_URL" data-url="{% url 'admin:loadproducts'%}" />
<input type="hidden" id="Product_Price_URL" data-url="{% url 'admin:loadproductprice'%}" />
<input type="hidden" id="Reward_URL" data-url="{% url 'admin:loadrewards'%}" />
<input type="hidden" id="Reward_Details_URL" data-url="{% url 'admin:load_reward_details'%}" />
{{ block.super }}
{% endblock %}