
TechspireSite/TechspireSite/sitevars.py
TechspireSite/Bakery/Migrations/
TechspireSite/Bakery/__pycache__/
TechspireSite/TechspireSite/__pycache__/
TechspireProject/Lib/
__pycache__/
TechspireSite/Error.txt
*.log
TechspireSite/Logs/debug.log
